<section class="jumbotron text-center">
    <div class="container jumbotron-container">
        <h1 class="jumbotron-heading">Portfolio</h1>
        <p class="lead">Below are some of the projects I am most proud of.</p>
    </div>
</section>