<%= stylesheet_link_tag    'application_styles/blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <main role="main" class="container" style="padding-bottom: 10rem;">

        <h3 class="pb-3 mb-4 font-italic border-bottom">
          Chris's Development Blog
        </h3>
          <%=yield%>
