<%= stylesheet_link_tag    'application_styles/blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8 blog-main">
        <h3 class="pb-3 mb-4 font-italic border-bottom">
          Chris's Development Blog
        </h3>
          <%=yield%>
        </div><!-- /.blog-main -->

<%=render "/blogs/shared/sidebar"%>