<%= render :layout => '/portfolios/shared/portfolio_wrapper' do %>
      <div class="album py-5">
        <div class="container portfolio-container">
          <div class="row sortable", id="<%="sortable" if logged_in?(:site_admin)%>">
            <%= render partial: 'portfolio_item', collection: @portfolio_items %>
          </div>
        </div>
      </div>
<% end %>
