<div id="header" class="<%= location%>">
    <div class="logodiv">
        <div class="filter">
        <!-- Navigation Location -->
        <%=nav_helper%>

        </div>
        <div class="filter">
            <%= login_helper %>
        </div>
    </div>
</div>