<div id="header" class="<%= location%>">
    <div class="logodiv">
        <img class="logo" src="<%=asset_url("logo.png", type: :image)%>" /></a>

        <div class="filter">
        <!-- Navigation Location -->
        <%=nav_helper%>

        </div>
        <div class="filter">
            <%= login_helper %>
        </div>
    </div>
</div>