
:root {
    --jumbotron-padding-y: 2rem;
  }
  
  .jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    padding: 0;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
    
  }
  @media (min-width: 768px) {
    .jumbotron {
      padding-top: calc(var(--jumbotron-padding-y));
      padding-bottom: calc(var(--jumbotron-padding-y));
    }
  }
  
  .jumbotron p:last-child {
    margin-bottom: 0;
  }
  
  .jumbotron-heading {
    font-weight: 300;
  }
  
  .jumbotron .container {
    //background: red;
    background-color: rgba(0, 0, 0, 0.329);
    border: solid 1px rgb(138, 138, 138);
    padding: 50px;
    max-width: 70rem;
    border-radius: 5px;
  }
  
  footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  footer p {
    margin-bottom: .25rem;
  }
  
  .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, 0); }

  .lead {
      color: rgb(255, 255, 255);
  }
  
  .card {
      padding: 0;
  }

  .portfolio-image img{
    display:block; width:100%; height:auto;
}
  .portfolio-view {
      padding: 25px;
  }

  .blue-background-class .card {
    background-color: #C8EBFB;
  }