<div class="cover_page">
    <div class="row">
    <div class="col-7">
            <img src="<%=asset_url("me.png", type: :image)%>", style="max-width:25rem;" />
    </div>
    <div class="col-5">
   </div>
    </div>
</div>