
<div class="cover_page">
<main role="main" class="inner cover">
    <b><h1 class="cover-heading">Hello.</h1></b>
    <p class="lead">I am a software engineer that focuses on full stack development. My goal is to provide as much value as I can by being as multi-functional as possible. I strive to provide the highest possible quality, while also keeping my codebases lean and efficient.</p>
</main>
</div>