
<div class="cover_page">
<main role="main" class="inner cover">
    <b><h1 class="cover-heading">Hello.</h1></b>
    <p class="lead">I strive for simplicity in design&mdash;in the backend and frontend. I am an aspiring full-stack web developer and at the moment a student at<br \> Wake Technical Community College.</p>
</main>
</div>