
<div class="cover_page">
<main role="main" class="inner cover">
    <b><h1 class="cover-heading">Hello.</h1></b>
    <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
</main>
</div>